<!DOCTYPE html>
<html>
<head>
  <title>Server Performance Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    body { font-family: Arial; background:#0b1220; color:#e5e7eb }
    .card { background:#111827; padding:20px; margin:20px; border-radius:10px }
    h2 { color:#38bdf8 }
  </style>
</head>
<body>

<h1>📊 Server Performance Dashboard</h1>

{% for host in ansible_play_hosts %}
<div class="card">
<h2>{{ hostvars[host].os_details.hostname }}</h2>
<p><b>OS:</b> {{ hostvars[host].os_details.os }}</p>
<p><b>Arch:</b> {{ hostvars[host].os_details.arch }}</p>

<h3>Disk</h3>
<pre>{{ hostvars[host].disk | join('\n') }}</pre>

<h3>Users</h3>
<pre>{{ hostvars[host].user_list | join(', ') }}</pre>

<h3>CPU (raw sar)</h3>
<pre>{{ hostvars[host].cpu_usage | join('\n') }}</pre>

<h3>Memory (raw sar)</h3>
<pre>{{ hostvars[host].memory_usage | join('\n') }}</pre>
</div>
{% endfor %}

</body>
</html>
