---
- name: Ensure Reports Directory Exists
  ansible.builtin.file:
    path: "{{ playbook_dir }}/reports"
    state: directory
    mode: "0755"
  delegate_to: localhost
  run_once: true

- name: Generate Consolidated HTML Report
  ansible.builtin.template:
    src: report.html.j2
    dest: "{{ performance_report_output_path }}"
    mode: "0644"
  delegate_to: localhost
  run_once: true
