---
- import_tasks: sysstat.yml
- import_tasks: collect_facts.yml
- import_tasks: cpu.yml
- import_tasks: memory.yml
- import_tasks: disk.yml
- import_tasks: users.yml

- name: Ensure reports directory exists on controller
  delegate_to: localhost
  become: false
  run_once: true
  file:
    path: "{{ report_output | dirname }}"
    state: directory
    mode: "0755"

- name: Generate HTML report (run once)
  delegate_to: localhost
  become: false
  run_once: true
  template:
    src: report.html.j2
    dest: "{{ report_output }}"
